@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins',sans-serif;
}
img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #fafafa;
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position:relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FFF;
}

.logo{
    font-size: 35px;
    font-weight: 800;
    color: #FFF;
    text-transform: uppercase;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
}
#back {
    text-align: center;
    height: 100vh;
    background: rgb(148,147,145);
    background: linear-gradient(135deg, rgba(148,147,145,1) 0%, rgba(39,38,36,1) 51%, rgba(39,38,36,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.contenedor {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Agrega este margen para centrar horizontalmente */
    padding: 0 15px 0 15px;
}

.formulario {
    min-height: 90vh;
    text-align: center; /* Alinea el contenido del formulario al centro */
}

span{
    color: #FFF;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}

#cabeza{
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #FFF;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

i{
    position:relative;
    top: -31px;
    left: -150px; 
    color: #FFF;
}

::-webkit-input-placeholder{
    color: #FFF;
}

.submit{
    border:none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #FFF;
    margin-top: 10px;
}

.left{
    display: flex;
}

label a{
    color: #FFF;
    text-decoration: none;
}


table {
    width: 80%; /* Ampliamos el ancho de la tabla */
    border-collapse: separate; /* Usamos un espacio entre las celdas en lugar de colapsar los bordes */
    margin: 20px auto;
    background-color: #131313;
    border: none; /* Eliminamos el borde de la tabla */
    border-radius: 10px; /* Agregamos esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cambiamos la sombra para un efecto más suave */
}

th, td {
    padding: 15px; /* Aumentamos el espaciado en las celdas */
    text-align: center;
    color: #FFF;
}

/* Estilos para las celdas del encabezado */
th {
    background-color: #b4b4b4;
    color: #000000;
}

/* Estilos para las filas pares */
tr:nth-child(even) {
    background-color: #292929; /* Cambiamos el fondo de las filas pares para mayor contraste */
}

/* Estilos para filas cuando se pasa el mouse sobre ellas */
tr:hover {
    background-color: #d1d1d1;
}

/* Estilos para el título */
h1 {
    color: #251e12;
    text-align: center;
    padding-top: 20px;
}
